html {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    /* max-width: 700px; */
    margin: 0 auto;
    padding: 0;
    /* font-family: Roboto;*/
    font-size: 14px;
}

.name {
    font-size: 200%;
    line-height: 100%;
    font-weight: bold;
    display: block;
    text-align: center;
    /* background-image: url(/assets/img/logo-2.png); */
    /* background-color: lightblue; */
}

h1_ {
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    /* margin: 1rem 0; */
}

h2_ {
    font-size: 1.2em;
    font-weight: bold;
    /* border-bottom: 2px solid black !important; */
    color: #0D47A1;
    margin: 10px 0 5px 0;
    padding: 0 0 2px 0;
}

h3_ {
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0 0 0;
}

h4_ {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

p_{
    font-size: 100%;
    margin: 0;
    margin-top:0%;
    opacity: 0.5 !important;
    padding-bottom: 0%;
}

ol_ {
    padding: 0 0 0 1.5rem;
    margin: 0;
}

li_ {
    line-height: 150%;
    /* change this for tighter spacing */
    /* default 150% */
}

/* assume images are icons */
/* icons for skills/tools */
.info img {
    width: 15px;
}

/* assume images are icons */
/* icons for contact info */
.info a img {
    width: 12px;
}

a_ {
    color: #0D47A1;
}

code_ {
    color: black;
}

time_ {
    float: right;
    font-size: inherit;
    font-weight: bold;
}

location {
    /* position: absolute;
    left: 50%; */
    float: right;
    font-weight: normal;
    opacity: .5;
}

.info {
    display: block;
    text-align: center;
}

.circle_photo{
    border-radius: 150px;
    /* width: 90px !important;
    height: 90px !important; */
  }

br_{
    display: block;
    margin-bottom: 2em;
}